@import url('custom-lightbox.css');
@import url('header.css');
@import url('footer.css');
@import url('front-page.css');
@import url('gallery.css');
@import url('filters.css');
@import url('single-photo.css');
@import url('contact.css');
@import url('404.css');

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
}
body {
    font-family: 'Space Mono', monospace;
    margin-top: 0;
}

.container{
    width: 85%;
margin-left: auto;
margin-right: auto;
}

/* Application de la police aux éléments de menu */
.nav-menu li a,
.footer-menu li a {
    font-family: 'Space Mono', monospace;
}

/* Application de la police au nom du site */
.site-title,
.site-description {
    font-family: 'Space Mono', monospace;
}

/* Styliser le conteneur principal */
#main-content {
    padding: 20px;
    padding-top: 0;
    margin: 0 auto; 
}

i{
    color: white !important;
}


/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1540px) {
    /* Vos styles ici pour les écrans de 1440px et plus */
    
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
    /* Vos styles ici pour les écrans de 1440px et plus */

}

/* Large devices (desktops, 1200px to 1439px) */
@media (max-width: 1439px) {
    /* Vos styles ici pour les écrans entre 1200px et 1439px */
}

/* Medium devices (tablets, 992px to 1199px) */
@media (max-width: 1199px) {
    /* Vos styles ici pour les écrans entre 992px et 1199px */
}

/* Small devices (large phones, 768px to 991px) */
@media (max-width: 991px) {
    /* Vos styles ici pour les écrans entre 768px et 991px */
}

/* Extra small devices (phones, 576px to 767px) */
@media (max-width: 767px) {
    /* Vos styles ici pour les écrans entre 576px et 767px */
}

/* Extra extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    /* Vos styles ici pour les écrans de moins de 576px */
}
